{% extends 'global/base.html' %}

    {% block titulo %}
    Assuntos
    {% endblock titulo %}
    {% block info %}
    <ol>
        <li>Python</li>
        <li>Html</li>
        <li>Css</li>
        <li>Bootstrap</li>
    </ol>
    <a class='btn btn-info' href="http://127.0.0.1:8000/blog/artigo">Artigo</a>
    <p></p>
    <a class='btn btn-dark' href="artigo">Outra opção</a>


    <a class='btn btn-dark' href="artigo">Comentar</a>

    <section style="margin-top: 50px;">
        <input type="text"> 
    </section>


    



    
    {% endblock info %}

